services:
  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000" # Puerto real de Next.js
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
      - WATCHPACK_POLL_INTERVAL=1000
      - CHOKIDAR_USEPOLLING=true
      - NEXT_WEBPACK_USEPOLLING=1
      - NEXT_DISABLE_TURBOPACK=1
  backend:
    build:
      context: backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=postgres_db
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=mydb
      - QR_SCANNER_DEVICE=/dev/input/event0 # Le dice al backend dónde leer
      - QR_SCANNER_ENABLED=true
    depends_on:
      postgres_db:
        condition: service_healthy
    volumes:
      - ./backend:/app
      - /app/node_modules
    # Configuración para Raspberry Pi / Linux (Lector USB nativo)
    devices:
      - "/dev/input/event0:/dev/input/event0" # Mapea el primer dispositivo de entrada
    # command: npm run dev
  postgres_db:
    build: ./db
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d mydb" ]
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  postgres_data:
