services:
  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000" # Puerto real de Next.js
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
      - WATCHPACK_POLL_INTERVAL=1000
      - CHOKIDAR_USEPOLLING=true
      - NEXT_WEBPACK_USEPOLLING=1
      - NEXT_DISABLE_TURBOPACK=1
      - NEXT_PUBLIC_BACKEND_URL=http://10.35.53.191:8000
  backend:
    build:
      context: backend
      dockerfile: Dockerfile
    restart: always
    privileged: true # Allow access to GPIO
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=postgres_db
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=mydb
      - QR_SCANNER_DEVICE=/dev/input/event4
      - QR_SCANNER_ENABLED=true
    depends_on:
      postgres_db:
        condition: service_healthy
    volumes:
      - ./backend:/app
      - /app/node_modules
      - /dev/input:/dev/input
    devices:
      - "/dev/mem:/dev/mem"
      - "/dev/gpiomem:/dev/gpiomem"
    cap_add:
      - SYS_RAWIO
    # command: npm run dev
  postgres_db:
    build: ./db
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d mydb" ]
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  postgres_data:
